:root {
    /* Colours */
    --color-ui-light: white;
    --color-ui-mid: gray;
    --color-ui-dark: black;
    --color-font-light: white;
    --color-font-mid: gray;
    --color-font-dark: black;
    --color-font-accent: orange;

    /* Modifiers */
    --border-rounded: 10px;
    --padding-sm: 5px;
    --padding-md: 15px;
    --padding-lg: 25px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    background: url('./images/pexels-instawally-176851.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;
}

button {
    font: inherit;
    border: none
}

.header, footer {
    padding: 20px;
}

.calculator {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: var(--border-rounded);
    padding: var(--padding-md);
    width: 250px;
}

.calculator__display {
    align-items: center;
    background-color: var(--color-ui-mid);
    border-radius: var(--border-rounded);
    color: var(--color-font-light);
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    margin-bottom: 10px;
    overflow: hidden;
    padding: var(--padding-md);
    text-align: right;
}

.calculator__row {
    display: flex;
    gap: 10px;
}

.caltulator__keys {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator__btn {
    border-radius: var(--border-rounded);
    cursor: pointer;
    flex: 1 1 50px;
    height: 50px;
    transition: transform 0.3s;
}

.calculator__btn:hover {
    transform: scale(1.1);
}

.calculator__btn--function {
    background-color: var(--color-font-accent);
    font-size: 32px;
}