:root {
    /* Colours */
    --color-ui-light: rgba(255, 255, 255, 1);
    --color-ui-light-tp: rgba(255, 255, 255, 0.2);
    --color-ui-mid: rgba(35, 45, 63, 0.5);
    --color-ui-dark: #0F0F0F;
    --color-font-light: #fafafa;
    --color-font-accent: #FF4C29;

    /* Modifiers */
    --border-rounded: 10px;
    --padding-sm: 5px;
    --padding-md: 15px;
    --padding-lg: 25px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    background: radial-gradient(circle, rgba(3, 3, 53, 0.8) 0%, rgba(2,0,36,0.3) 59%),
                url('./images/pexels-instawally-176851.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;
}

button {
    font: inherit;
    border: none
}

a {
    color: var(--color-font-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header, footer {
    color: var(--color-font-light);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 50px 0;
}

.heading {
    font-weight: 200;
}

.calculator {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--color-ui-light-tp);
    border-radius: var(--border-rounded);
    padding: var(--padding-md);
    width: 270px;
}

.calculator__display {
    align-items: center;
    background-color: var(--color-ui-mid);
    border: 2px solid var(--color-ui-light-tp);
    border-radius: var(--border-rounded);
    color: var(--color-font-light);
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    margin-bottom: 10px;
    overflow: hidden;
    padding: var(--padding-md);
    text-align: right;
}

.calculator__row {
    display: flex;
    gap: 10px;
}

.caltulator__keys {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator__btn {
    background-color: var(--color-ui-light-tp);
    border: 2px solid var(--color-ui-light-tp);
    border-radius: var(--border-rounded);
    color: var(--color-font-light);
    cursor: pointer;
    flex: 1 1 50px;
    height: 50px;
    transition: all 0.3s;
}

.calculator__btn:hover {
    background-color: var(--color-ui-light);
    color: #333;
    transform: scale(1.1);
}

.calculator__btn--function {
    background-color: var(--color-font-accent);
    color: var(--color-font-light);
    font-size: 32px;
}